<h1>Hallo, das ist die Testseite für Jannes Transferarbeit für das 3. Semester</h1>
<div style="margin-left: 50px; margin-top: 50px; border-style: solid; width: 20%">
  <div style="margin: 20px">
    <mat-form-field>
      <mat-label>Variante</mat-label>
      <mat-select [(ngModel)]="selectedSite" (ngModelChange)="switchSite()">
        <mat-option *ngFor="let site of sites" [value]="site" >
          {{site.name}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>
      <router-outlet></router-outlet>
  </div>
</div>
